.container-header {
  padding-left: $paddingX_xs;
  padding-right: $paddingX_xs;
  color: $colorHeaderText;
  z-index: 1;

  .btn-menu {
    font-size: 21px;
    width: 30px;
    svg {
      font-size: 30px;
    }
    i {
      display: flex;
      font-size: 21px;
      justify-content: center;
    }
  }
  .logo-menu {
    width: 70px;
    height: 25px;
  }
  .btn-login {
    min-width: 100px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    gap: 6px;
    align-items: center;
    font-family: 'Roboto light' !important;
    i {
      display: flex;
      font-size: 19px;
    }
  }
  .container-header-nav {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: $sm) {
    padding-top: 55px;
    .content-logo {
      display: flex;
      flex-direction: row;
      gap: 17px;
      align-items: center;
    }
  }
  @media (min-width: $sm) {
    padding-top: 19px;
    padding-left: $paddingX_lg;
    padding-right: $paddingX_lg;
    left: 0;
    right: 0;
    .logo-menu {
      width: 90px;
      height: 33px;
    }
    .btn-login {
      font-family: 'Roboto light' !important;
      font-size: 16px;
    }
    .container-header-nav {
      .nav-links {
        display: flex;
        flex-direction: row;
        gap: 64px;
        border-right: 1px solid white;
        margin-right: 20px;
        padding-right: 20px;
        a {
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
          font-family: 'Roboto light';
          text-transform: uppercase;
          font-size: 12px;
          &::before {
            content: " ";
            background: transparent;
            width: 21px;
            height: 4px;
            border-radius: 5px;
          }
          &::after {
            content: " ";
            background: transparent;
            width: 21px;
            height: 4px;
            border-radius: 5px;
          }
          &:hover {
            font-family: 'Roboto bold';
            &::before {
              content: " ";
              background: rgba(255, 255, 255, 0.74);
              width: 21px;
              height: 4px;
              border-radius: 5px;
            }

          }
        }
      }
    }
  }
  @media (max-width: $lgless) {
    .container-header-nav {
      .nav-links {
        display: none;
      }
    }
  }
  @media (min-width: ($lg)) {
    .btn-menu {
      display: none;
    }
  }
}
